
<header>
    <nav class="navbar">
        <div class="container">
            <a class="logo" href="/">
                <img src="~/images/logo.png" alt="Creative Agency Logo" class="logo-img" />
            </a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/Home/Services">Services</a></li>
                <li><a href="/Home/About">About</a></li>
                <li><a href="~/Blog/Index">Blog</a></li>
                <li><a href="~/Contact/Contact">Contact</a></li>

            </ul>
        </div>
    </nav>
</header>
